<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427389320881-8j0fmgl0lmp98r3vja3hohnk0j8ljq0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427389320881-8j0fmgl0lmp98r3vja3hohnk0j8ljq0c</string>
	<key>API_KEY</key>
	<string>AIzaSyD6j4_3NEX4mdI74gn5l4NYsUFllG5ke8M</string>
	<key>GCM_SENDER_ID</key>
	<string>427389320881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radchenko.SpeechHandlerApp</string>
	<key>PROJECT_ID</key>
	<string>speechhandlerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>speechhandlerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427389320881:ios:4dadc948e306071c632c90</string>
	<key>DATABASE_URL</key>
	<string>https://speechhandlerapp.firebaseio.com</string>
</dict>
</plist>